@model FanStorey.Models.ViewModels.ChapterCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chapter</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoryId" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label asp-for="ChapterNew.Title" class="control-label"></label>
                <input asp-for="ChapterNew.Title" class="form-control" />
                <span asp-validation-for="ChapterNew.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterNew.ChapterText" class="control-label"></label>
                <textarea asp-for="ChapterNew.ChapterText" class="form-control" rows="15"></textarea>
                <span asp-validation-for="ChapterNew.ChapterText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
